.achievements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100% - var(--header-height));
    padding-top: 50px;
    padding-bottom: 100px;
}
    .achievements__heading {
        position: relative;
        margin: 0 auto;
        width: 273px;
        height: 46px;
        background-image: url("../images/achievements-heading-letters.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
        .achievements__heading::before,
        .achievements__heading::after {
            content: "";
            position: absolute;
            z-index: 10;
            display: block;
            width: 49px;
            height: 71px;
            background-image: url("../images/achievements-heading-illustration.webp");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        @media (1.5dppx <= resolution < 2.5dppx ) {
            .achievements__heading::before,
            .achievements__heading::after {
                background-image: url("../images/achievements-heading-illustration@2x.webp");
            }
        }

        @media (2.5dppx <= resolution) {
            .achievements__heading::before,
            .achievements__heading::after {
                background-image: url("../images/achievements-heading-illustration@3x.webp");
            }
        }

        .achievements__heading::before {
            left: 163px;
            top: -8px;
        }

        .achievements__heading::after {
            left: 216px;
            top: -43px;
            transform: rotate(18.5deg) scaleX(-0.6619) scaleY(0.6619);
        }

    .achievements__body {
        position: relative;
        margin-top: 59px;
    }
        .achievements__list {
            display: grid;
            grid-template-columns: repeat(5, 92px);
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            transition: opacity var(--transition-show);
        }
            .achievements__item {
                box-shadow: inset 0 0 0 1px rgb(255 255 255 / 40%);
                border-radius: 25px;
            }
                .achievements__thumbnail {
                    vertical-align: top;
                    width: 100%;
                    height: auto;
                    filter: saturate(0);
                    opacity: 0.5;
                }


            .achievements__item--achieved {
                box-shadow: none;
                background-image: linear-gradient(#00FFFF, #B32DFF);
                transition: filter var(--transition-hover);
            }

            .achievements__item--achieved:hover {
                filter: brightness(1.1) contrast(1.1);
            }
                .achievements__item--achieved .achievements__thumbnail {
                    filter: none;
                    opacity: 1;
                }

        .achievements__popup {
            position: absolute;
            top: -51px;
            left: 0;
            right: 0;
            max-width: 360px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px 40px 30px;
            background-image: linear-gradient(#00FFFF, #B32DFF);
            border-radius: 25px;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity var(--transition-show),
                        visibility var(--transition-show);
        }
            .achievements__illustration {
                width: 280px;
                margin-left: -40px; /* немного неумечаемся в контейнер на телефонах в 320px */
                margin-right: -40px; /* немного неумечаемся в контейнер на телефонах в 320px */
            }

            .achievements__value {
                margin-top: -75px;
                margin-left: auto;
                margin-right: auto;
                width: fit-content;
                padding: 12px 30px;
                background-color: #FFB369;
                min-width: 232px;
                font-weight: bold;
                font-size: 33px;
                line-height: 24px;
                color: #FFFFFF;
                rotate: -3deg;
            }

            .achievements__title {
                margin-top: 37px;
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
            }

            .achievements__description {
                margin-top: 14px;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
            }

            .achievements__date {
                margin-top: 28px;
                font-size: 12px;
                line-height: 18px;
                color: rgb(255 255 255 / 50%);
                text-align: center;
            }

            .achievements__close {
                position: absolute;
                right: 0;
                top: 0;
                width: 54px;
                height: 54px;
                border: none;
                padding: 0;
                background-color: transparent;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
            }

                /* наведение */
                .achievements__close::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    transition: background-color var(--transition-hover);
                }

                .achievements__close:hover::before {
                    background-color: #66CEFF;
                }

                /* крестик */
                .achievements__close::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    display: block;
                    width: 16px;
                    height: 16px;
                    background-image: url("../vectors/cross.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }


            .achievements__close:active {
                translate: 0 1px;
            }



.achievements--expanded {

}
    .achievements--expanded .achievements__list {
        opacity: 0.5;
        pointer-events: none;
    }

    .achievements--expanded .achievements__popup {
        opacity: 1;
        visibility: visible;
    }



@media (width < 750px) {

    .achievements {
        padding-top: 25px;
        padding-bottom: 75px;
    }
        .achievements__heading {
            margin-left: 0;
            margin-right: 0;
        }

        .achievements__body {
            margin-top: 49px;
        }
            .achievements__list {
                grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
            }

            .achievements__popup {
                top: calc(-1 * var(--container-padding) / 2);
                left: calc(-1 * var(--container-padding) / 2);
                right: calc(-1 * var(--container-padding) / 2);
                padding-bottom: 22px;
            }
                .achievements__illustration {

                }

                .achievements__value {

                }

                .achievements__title {
                    text-align: left;
                }

                .achievements__description {
                    text-align: left;
                }

                .achievements__date {
                    margin-top: 12px;
                    text-align: right;
                }

                .achievements__close {

                }
}



