.action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: lowercase;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}
    .action::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        transition: background-color var(--transition-hover);
    }

    .action:hover::before {
        background-color: var(--blue-hover);
    }

    .action::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

.action:active {
    translate: 0 1px;
}



@media (width < 740px) {

    .action {

    }
        .action::before {
            display: none;
        }
}



.action--close {

}
    .action--close::before {
        width: 42px;
        height: 42px;
    }

    .action--close::after {
        background-image: url("../vectors/cross.svg");
    }



.action--close-profile {

}
    .action--close-profile::before {
        width: 42px;
        height: 42px;
    }

    .action--close-profile::after {
        width: 16px;
        height: 16px;
        background-image: url("../vectors/chevron-right.svg");
    }


@media (width < 740px) {

    .action--close-profile {

    }
        .action--close-profile::before {

        }

        .action--close-profile::after {
            background-image: url("../vectors/cross.svg");
        }
}


.action--close-menu {

}
    .action--close-menu::before {
        width: 42px;
        height: 42px;
    }

    .action--close-menu::after {
        width: 16px;
        height: 16px;
        background-image: url("../vectors/chevron-left.svg");
    }


@media (width < 740px) {

    .action--close-menu {

    }
        .action--close-menu::before {

        }

        .action--close-menu::after {
            background-image: url("../vectors/cross.svg");
        }
}



.action--menu {
    width: fit-content;
    height: var(--header-height);
    padding-left: 40px;
    padding-right: 40px;
}
    .action--menu::before {
        width: 70px;
        height: 70px;
    }

    .action--menu::after {
        width: 32px;
        height: 32px;
        background-image: url("../vectors/burger.svg");
    }

@media (width < 740px) {

    .action--menu {
        padding-left: 20px;
        padding-right: 20px;
    }
        .action--menu::after {

        }
}

.action--profile {
    width: fit-content;
    height: var(--header-height);
    padding-left: 40px;
    padding-right: 40px;
}
    .action--profile::before {
        width: 70px;
        height: 70px;
    }

    .action--profile::after {
        width: 32px;
        height: 32px;
        background-image: url("../vectors/profile.svg");
    }

@media (width < 740px) {

    .action--profile {
        padding-left: 20px;
        padding-right: 20px;
    }
        .action--profile::after {

        }
}



.action--login {
    width: fit-content;
    height: var(--header-height);
    padding-left: 40px;
    padding-right: 40px;
}
    .action--login::before {
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
        width: auto;
        height: auto;
        border-radius: 35px;
    }

    .action--login::after {
        width: 32px;
        height: 32px;
        background-image: url("../vectors/login.svg");
    }

@media (width < 740px) {

    .action--login {
        padding-left: 20px;
        padding-right: 20px;
    }
        .action--login::after {

        }
}

