.action {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    height: var(--header-height);
    border: none;
    padding: 0 40px;
    background-color: transparent;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: lowercase;
    cursor: pointer;
}
    .action::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        transition: background-color var(--transition-hover);
    }

    .action:hover::before {
        background-color: var(--hovering-background-color);
    }

    .action::after {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

.action:active {
    translate: 0 1px;
}



@media (width < 750px) {

    .action {
       padding-left: 20px;
       padding-right: 20px;
    }
        .action::before {
            display: none;
        }
}




.action--burger {

}
    .action--burger::after {
        background-image: url("../vectors/burger.svg");
    }

.action--profile {

}
    .action--profile::after {
        background-image: url("../vectors/profile.svg");
    }


.action--login {

}
    .action--login::before {
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
        width: auto;
        height: auto;
        border-radius: 35px;
    }

    .action--login::after {
        background-image: url("../vectors/login.svg");
    }
