.adulthood {

}
    .adulthood__heading {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .adulthood__description {
        margin-top: 20px;
        margin-left: -20px;
        margin-right: -20px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }



@media (width < 740px) {

    .adulthood {

    }
        .adulthood__heading {
            /*font-weight: bold;*/
            font-size: 20px;
            line-height: 26px;
            text-align: center;
        }

        .adulthood__description {
            /*margin-top: 20px;*/
            margin-left: 0;
            margin-right: 0;
            font-size: 14px;
            line-height: 20px;
            /*text-align: center;*/
        }
}




