.answer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 136px;
    padding: 20px 21px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 25px;
    font-family: inherit;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    text-align: left;
    color-scheme: light;
}
    .answer__select {
        padding-top: 12px;
    }
        .answer__select {
            margin-top: auto;
            align-self: flex-end;
        }


@media (width < 740px) {

    .answer {
        font-size: 16px;
        line-height: 24px;
    }
        .answer__select {

        }
            .answer__select {

            }
}
