.answer {
    height: 112px;
    padding: 20px 21px;
    background-color: #FFFFFF;
    border-radius: 25px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    color-scheme: light;
}
