.avatar {
    display: inline-block;
    vertical-align: top;
    user-select: none;
}
    .avatar__image {
        vertical-align: top;
        background-color: var(--image-fallback);
        border-radius: 50%;
    }
