.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    border: none;
    padding: 18px 30px;
    min-width: 100px;
    background-color: #EF768C;
    background-image: linear-gradient(90deg, #FFB369, #E238AF);
    border-radius: 25px;
    font-family: inherit;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: filter var(--transition-hover);
}

.button:hover {
    filter: brightness(1.1) contrast(1.05);
}


.button:active {
    translate: 0 1px;
}

/*.button:disabled,*/
/*.button:disabled:hover,*/
/*.button:disabled:active {*/
/*    background-color: #F6F6F6;*/
/*    color: var(--disabled-color);*/
/*    translate: none;*/
/*    cursor: default;*/
/*}*/

.button--secondary {
    background-color: #6C81FF;
    background-image: linear-gradient(90deg, #45AEFF, #9352FF);
}

.button--secondary:hover {

}


.button--smaller {
    padding: 8px 24px;
    font-size: 16px;
    line-height: 24px;
}


.button--qr-code {

}
    .button--qr-code::after {
        content: "";
        flex-shrink: 0;
        margin-left: 16px;
        margin-right: -8px;
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("../vectors/qr-code.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }



