.container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border-left: var(--container-padding) solid transparent;
    border-right: var(--container-padding) solid transparent;
}

.container--wide { /* игра, страница вопроса и результата */
    width: 1120px;
}

.container--unlimited {
    width: auto;
}

@media (width < 750px) {

    .container {
        width: 100%;
        min-width: 320px;
        max-width: 500px;

    }
}
