.container {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.container--smartphone-only {
    width: auto;
}

@media (width < 750px) {

    .container {
        width: 100%;
        min-width: 320px;
        max-width: 500px;
        border-left: var(--container-padding) solid transparent;
        border-right: var(--container-padding) solid transparent;
    }
}
