.container {
    padding-left: 10%;
    padding-right: 10%;
}

@media (width < 360px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (1100px <= width) {

    .container {
        min-width: 1000px;
        max-width: 1180px;
        margin-left: auto;
        margin-right: auto;
    }
}
