.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 202px;
    height: 202px;
    padding-bottom: 6px;
    background-image: url("../vectors/countdown.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
}


@media (width < 740px) {

    .countdown {
        width: 87px;
        height: 87px;
        padding-bottom: 0;
        background-image: url("../vectors/countdown--mobile.svg");
        font-size: 28px;
        line-height: 28px;
    }
}




.countdown--smaller {
    width: 54px;
    height: 54px;
    padding-bottom: 0;
    background-image: url("../vectors/countdown--mobile.svg");
    font-size: 18px;
    line-height: 20px;
}

/* Только десктопы (не мобилки, запрос обратный к мобильному (width < 740px) */
@media (740px <= width) {

    /* Запросы по высоте */
    @media (700px <= height) {
        .countdown--smaller {
            width: 70px;
            height: 70px;
            font-size: 24px;
            line-height: 32px;
        }
    }

    @media (950px <= height) {
        .countdown--smaller {
            width: 87px;
            height: 87px;
            font-size: 28px;
            line-height: 28px;
        }
    }
}
