.dialog {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 54px 66px 37px;
}

@media (width < 475px) {
    .dialog {
        padding-left: var(--container-padding); /* На этом разрешении заканчивается max-width модакли и она начинает прилипать к краям экрана. И можно уменьшать паддинг */
        padding-right: var(--container-padding);
    }
}
    .dialog__heading {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @supports (zoom: 0.5) {
        @media (350px <= width < 375px) {
            .dialog__heading {
                zoom: 0.9;
            }
        }

        @media (width < 350px) {
            .dialog__heading {
                zoom: 0.8;
            }
        }
    }

    @supports not (zoom: 0.5) {
        @media (350px <= width < 375px) {
            .dialog__heading {
                transform: scale(0.9);
                transform-origin: 0 0;
            }
        }

        @media (width < 350px) {
            .dialog__heading {
                transform: scale(0.8);
                transform-origin: 0 0;
            }
        }
    }
        .dialog__heading::after {
            content: "";
            position: absolute;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

    .dialog__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }
        .dialog__field {
            margin-top: 18px;
        }

        .dialog__field:first-child {
            margin-top: 0;
        }

    .dialog__operations {
        display: flex;
        justify-content: center;
        gap: 22px;
    }
        .dialog__operations .button {

        }


    .dialog__addition {
        margin-top: 34px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }



/* Уникальные модалки */
.dialog--login {

}
    .dialog--login .dialog__heading {
        width: 274px;
        height: 101px;
        background-image: url("../images/login-heading-letters.svg");
    }
        .dialog--login .dialog__heading::after {
            left: 138px;
            top: -10px;
            width: 40px;
            height: 54px;
            background-image: url("../images/login-heading-illustration.webp");
        }

        @media (1.5dppx <= resolution < 2.5dppx) {
            .dialog--login .dialog__heading::after {
                background-image: url("../images/login-heading-illustration@2x.webp");
            }
        }

        @media (2.5dppx <= resolution) {
            .dialog--login .dialog__heading::after {
                background-image: url("../images/login-heading-illustration@3x.webp");
            }
        }

    .dialog--login .dialog__addition {
        padding-top: 10px;
        padding-bottom: 10px;
    }



.dialog--register {

}
    .dialog--register .dialog__heading {
        width: 245px;
        height: 102px;
        background-image: url("../images/register-heading-letters.svg");
    }
        .dialog--register .dialog__heading::after {
            left: 213px;
            top: 19px;
            width: 45px;
            height: 92px;
            background-image: url("../images/register-heading-illustration.webp");
        }

        @media (1.5dppx <= resolution < 2.5dppx) {
            .dialog--register .dialog__heading::after {
                background-image: url("../images/register-heading-illustration@2x.webp");
            }
        }

        @media (2.5dppx <= resolution) {
            .dialog--register .dialog__heading::after {
                background-image: url("../images/register-heading-illustration@3x.webp");
            }
        }

    .dialog--register .dialog__addition {
        font-size: 12px;
        line-height: 18px;
    }


.dialog--settings {

}
    .dialog--settings .dialog__heading {
        width: 277px;
        height: 118px;
        background-image: url("../images/settings-heading-letters.svg");
    }
        .dialog--settings .dialog__heading::after {
            left: 202px;
            top: 1px;
            width: 45px;
            height: 92px;
            background-image: url("../images/settings-heading-illustration.webp");
        }

        @media (1.5dppx <= resolution < 2.5dppx) {
            .dialog--settings .dialog__heading::after {
                background-image: url("../images/settings-heading-illustration@2x.webp");
            }
        }

        @media (2.5dppx <= resolution) {
            .dialog--settings .dialog__heading::after {
                background-image: url("../images/settings-heading-illustration@3x.webp");
            }
        }

    .dialog--settings .dialog__addition {
        margin-top: 25px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }



.dialog--test {

}
    .dialog--test .dialog__heading {
        width: 206px;
        height: 94px;
        margin-left: auto;
        margin-right: auto;
        background-image: url("../images/test-heading-letters.svg");
    }
        .dialog--test .dialog__heading::after {
            left: 154px;
            top: 53px;
            width: 66px;
            height: 49px;
            background-image: url("../images/test-heading-illustration.webp");
        }

        @media (1.5dppx <= resolution < 2.5dppx) {
            .dialog--test .dialog__heading::after {
                background-image: url("../images/test-heading-illustration@2x.webp");
            }
        }

        @media (2.5dppx <= resolution) {
            .dialog--test .dialog__heading::after {
                background-image: url("../images/test-heading-illustration@3x.webp");
            }
        }

    .dialog--test .dialog__body {
        text-align: center;
        max-width: 280px;
    }

    .dialog--test .dialog__operations {
        margin-bottom: 26px;
    }


.dialog--coins {

}
    .dialog--coins .dialog__heading {
        width: 185px;
        height: 94px;
        background-image: url("../images/coins-heading-letters.svg");
    }
        .dialog--coins .dialog__heading::after {
            left: 162px;
            top: 24px;
            width: 72px;
            height: 69px;
            background-image: url("../images/coins-heading-illustration.webp");
        }

        @media (1.5dppx <= resolution < 2.5dppx) {
            .dialog--coins .dialog__heading::after {
                background-image: url("../images/coins-heading-illustration@2x.webp");
            }
        }

        @media (2.5dppx <= resolution) {
            .dialog--coins .dialog__heading::after {
                background-image: url("../images/coins-heading-illustration@3x.webp");
            }
        }

    .dialog--coins .dialog__body {
        padding-top: 30px;
    }

    .dialog--coins .dialog__addition {
        margin-top: 28px;
        margin-bottom: -4px;
        font-size: 12px;
        line-height: 24px;
    }



.dialog--team {

}
    .dialog--team .dialog__heading {
        width: 225px;
        height: 117px;
        background-image: url("../images/team-heading-letters.svg");
    }
        .dialog--team .dialog__heading::after {
            left: 123px;
            top: 4px;
            width: 79px;
            height: 109px;
            background-image: url("../images/team-heading-illustration.webp");
        }

        @media (1.5dppx <= resolution < 2.5dppx) {
            .dialog--team .dialog__heading::after {
                background-image: url("../images/team-heading-illustration@2x.webp");
            }
        }

        @media (2.5dppx <= resolution) {
            .dialog--team .dialog__heading::after {
                background-image: url("../images/team-heading-illustration@3x.webp");
            }
        }

    .dialog--team .dialog__body {
        padding-bottom: 46px;
    }

    .dialog--team .dialog__operations {
        padding-bottom: 10px;
    }


.dialog--adulthood {
    padding-top: 95px;
}
    .dialog--adulthood .dialog__heading {
        width: 233px;
        height: 104px;
        margin-left: auto;
        margin-right: auto;
        background-image: url("../images/adulthood-heading-letters.svg");
    }
        .dialog--adulthood .dialog__heading::after {
            left: 119px;
            top: -55px;
            width: 96px;
            height: 84px;
            background-image: url("../images/adulthood-heading-illustration.webp");
        }

        @media (1.5dppx <= resolution < 2.5dppx) {
            .dialog--adulthood .dialog__heading::after {
                background-image: url("../images/adulthood-heading-illustration@2x.webp");
            }
        }

        @media (2.5dppx <= resolution) {
            .dialog--adulthood .dialog__heading::after {
                background-image: url("../images/adulthood-heading-illustration@3x.webp");
            }
        }

    .dialog--adulthood .dialog__body {
        padding-bottom: 46px;
    }

    .dialog--adulthood .dialog__operations {
        padding-bottom: 10px;
    }



.dialog--qr {

}
    .dialog--qr .dialog__body {
        padding-bottom: 10px;
    }

    .dialog--qr .dialog__operations {
        padding-bottom: 10px;
    }
        .dialog--qr .dialog__operations .button {
            min-width: 220px;
        }

    .dialog--qr .dialog__addition {
        width: 220px;
        padding-bottom: 23px;
        margin-left: auto;
        margin-right: auto;
    }



.dialog--ready {

}
    .dialog--ready .dialog__body {
        max-width: 224px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 67px;
    }

    .dialog--ready .dialog__operations {
        padding-bottom: 12px;
    }

    .dialog--ready .dialog__addition {

    }
