.emblem {
    width: 75px;
    height: 75px;
    background-image: url("../images/emblem.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
