.game {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
}
    .game__inner {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: max(140px, calc(20px + 15vh));
        border-bottom: 120px solid transparent;
        margin-left: auto;
        margin-right: auto;
    }
        .game__intro {
            flex-basis: 244px;
        }
            .game__heading {
                position: relative;
                margin-top: 0;
                margin-bottom: 0;
                width: 170px;
                height: 43px;
                background-image: url("../images/game-headings-letters.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }


            .game__heading--trial {
                width: 226px;
                height: 145px;
                background-image: url("../images/trial-headings-letters.svg");
            }
                .game__heading--trial::after {
                    content: "";
                    position: absolute;
                    left: -40px;
                    top: 10px;
                    width: 117px;
                    height: 151px;
                    background-image: url("../images/trial-headings-illustration.webp");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                @media (1.5dppx <= resolution < 2.5dppx) {
                    .game__heading--trial::after {
                        background-image: url("../images/trial-headings-illustration@2x.webp");
                    }
                }

                @media (2.5dppx <= resolution) {
                    .game__heading--trial::after {
                        background-image: url("../images/trial-headings-illustration@3x.webp");
                    }
                }


            .game__hint {
                margin-top: 21px;
                font-size: 16px;
                line-height: 24px;
            }

        .game__operations {
            position: absolute;
            left: 0;
            right: 210px;
            bottom: -2px;
            padding-top: 2px;
            padding-bottom: 2px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }

        .game__loading {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -70px;
        }
            @keyframes trial-rotation {
                from { transform: rotate(0); }
                to { transform: rotate(360deg); }
            }

            .game__indicator {
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
                animation: trial-rotation 5000ms linear infinite;
            }
                .game__indicator.emblem,
                .game__indicator .emblem {
                    width: 100px;
                    height: 100px;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 50%;
                }

            .game__waiting {
                max-width: 150px;
                margin-top: 25px;
                margin-left: auto;
                margin-right: auto;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
            }

        .game__data {
            flex-basis: 295px;
        }
            .game__sub-heading {
                margin-top: 0;
                margin-bottom: 0;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
            }

            .game__list {
                margin-top: 8px;
            }
                .game__team {
                    position: relative;
                    display: flex;
                    align-items: stretch;
                    border-bottom: 1px solid rgb(255 255 255 / 25%);
                }
                    .game__label {
                        flex-grow: 1;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        font-size: 12px;
                        line-height: 18px;
                    }

                    .game__kick {
                        margin-left: 20px;
                        flex-shrink: 0;
                        position: relative;
                        width: 28px;
                        padding: 0;
                        margin-top: -1px;
                        margin-bottom: -1px;
                        border: none;
                        background-color: transparent;
                        text-indent: 200%;
                        white-space: nowrap;
                        overflow: hidden;
                        cursor: pointer;
                    }
                        /* Наведение */
                        .game__kick::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            display: block;
                            margin: auto;
                            width: 28px;
                            height: 28px;
                            border-radius: 3px;
                        }

                        .game__kick:hover::before {
                            background-color: rgb(255 255 255 / 20%);
                        }

                        /* Крестик */
                        .game__kick::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            display: block;
                            margin: auto;
                            width: 16px;
                            height: 16px;
                            background-image: url("../vectors/cross-gradient.svg");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                        }

                .game__team--host {

                }
                    .game__team--host::before {
                        content: "";
                        margin-top: -2px;
                        margin-left: -1px;
                        align-self: center;
                        width: 14px;
                        height: 14px;
                        margin-right: 6px;
                        background-image: url("../vectors/crown.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }

                .game__team--current {
                    font-weight: bold;
                }
                    .game__team--current::after {
                        content: "";
                        position: absolute;
                        left: -25px;
                        top: 50%;
                        margin-top: -5px;
                        display: block;
                        width: 10px;
                        height: 10px;
                        background-image: url("../vectors/chevron-right-bold.svg");
                        background-size: 10px 10px;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }

                    @media (340px <= width < 400px) {
                        .game__team--current::after {
                            left: -20px;
                        }
                    }

                    @media (width < 340px) {
                        .game__team--current::after {
                            left: -15px;
                        }
                    }

                .game__team--spectator {

                }
                    .game__team--spectator .game__label {
                        opacity: 0.5;
                    }


        .game__begin {
            position: absolute;
            right: 0;
            bottom: 0;
        }
            .game__begin .button {
                min-width: 190px;
            }



@media (width < 740px) {

    .game {
        /*display: flex;*/
        /*min-height: 100%;*/
        /*flex-direction: column;*/
        /*justify-content: center;*/
    }
        .game__inner {
            /*position: relative;*/
            display: block;
            /*align-items: flex-start;*/
            /*justify-content: space-between;*/
            padding-top: 20px;
            padding-bottom: 100px;
            border-bottom: none;
            width: auto;
            max-width: 100%;
            /*margin-left: auto;*/
            /*margin-right: auto;*/
        }
            .game__intro {
                /*flex-basis: 244px;*/
            }
                .game__heading {
                    /*position: relative;*/
                    /*margin-top: 0;*/
                    /*margin-bottom: 0;*/
                    /*width: 226px;*/
                    /*height: 145px;*/
                    /*background-image: url("../images/trial-headings-letters.svg");*/
                    /*background-size: contain;*/
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                }
                    .game__heading::after {

                    }

                .game__hint {
                    /*margin-top: 21px;*/
                    /*font-size: 16px;*/
                    /*line-height: 24px;*/
                }

            .game__operations {
                margin-top: 13px;
                position: static;
            }

            @media (350px <= width < 380px) {
                .game__operations {
                    margin-left: -4px;
                    margin-right: -4px;
                    gap: 8px;
                }
            }

            @media (350px <= width < 370px) {
                .game__operations .button {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }

            @media (350px <= width < 350px) {
                .game__operations .button {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }

            @media (350px <= width < 340px) {
                .game__operations .button {
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }

            .game__loading {
                position: relative;
                margin-top: 37px;
                /*left: 0;*/
                /*right: 0;*/
                bottom: auto;
            }
                .game__loading::before {
                    content: "";
                    position: absolute;
                    left: calc(-1 * var(--container-padding) + 2px);
                    right: calc(-1 * var(--container-padding) + 2px);
                    display: block;
                    top: 49px;
                    height: 1px;
                    background-image: linear-gradient(to right, #45AEFD, #9352FF);
                }

                .game__indicator {
                    /*text-indent: 200%;*/
                    /*white-space: nowrap;*/
                    /*overflow: hidden;*/
                    /*animation: trial-rotation 5000ms linear infinite;*/
                }
                    .game__indicator.emblem,
                    .game__indicator .emblem {
                        /*width: 100px;*/
                        /*height: 100px;*/
                        /*margin-left: auto;*/
                        /*margin-right: auto;*/
                        /*border-radius: 50%;*/
                    }

                .game__waiting {
                    /*max-width: 150px;*/
                    /*margin-top: 25px;*/
                    /*margin-left: auto;*/
                    /*margin-right: auto;*/
                    /*font-size: 12px;*/
                    /*line-height: 18px;*/
                    /*text-align: center;*/
                }

            .game__data {
                margin-top: 20px;
                /*flex-basis: 295px;*/
            }
                .game__sub-heading {
                    display: none;
                    /*margin-top: 0;*/
                    /*margin-bottom: 0;*/
                    /*font-weight: normal;*/
                    /*font-size: 16px;*/
                    /*line-height: 24px;*/
                }

                .game__list {
                    /*margin-top: 8px;*/
                }
                    .game__team {
                        /*padding-top: 7px;*/
                        /*padding-bottom: 7px;*/
                        /*padding-right: 32px;*/
                        /*background-image: url("../vectors/confirmation-no.svg");*/
                        /*background-repeat: no-repeat;*/
                        /*background-position: right center;*/
                        /*border-bottom: 1px solid rgb(255 255 255 / 25%);*/
                        /*font-size: 12px;*/
                        /*line-height: 18px;*/
                    }

            .game__begin {
                margin-top: 42px;
                position: static;
                text-align: center;
                /*right: 0;*/
                /*bottom: 0;*/
            }
}
