.header {
    position: relative;
    height: var(--header-height);
    flex-shrink: 0;
}
    .header__panel {
        position: absolute; /* Здесь можно сделать position: fixed, чтобы прикрепить шапку. Правда, нужно будет ещё добавить фон. */
        z-index: 500;
        left: 0;
        top: 0;
        right: 0;
        height: var(--header-height);
        display: flex;
        align-items: center;
    }
        .header__burger {

        }

        .header__branding {

        }

        .header__profile {
            margin-left: auto;
            display: flex;
            align-items: center;
        }




@media (width < 750px) {

    .header {

    }
        .header__panel {

        }
            .header__burger {

            }

            .header__branding {

            }

            .header__profile {

            }

    .menu-expanded .header,
    .profile-expanded .header {
        display: none;
    }
}
