.input {
    width: 100%; /* Если внутри флекса */
}
    .input__widget {
        vertical-align: top;
        width: 100%;
        background-clip: padding-box; /* hack for iOS to make box-shadow works (same as border-radius in the past) */
        border: none;
        outline: none;
        font-family: inherit;
        font-size: 16px; /* not less than 16px (otherwise mobile browsers will zoom in on focus) */
        line-height: 24px;
        opacity: 1; /* reset select:disabled default fade on iOS */
        -webkit-tap-highlight-color: transparent;
    }

    .input__widget::placeholder {
        opacity: 1; /* reset opacity drop Firefox */
    }


    .input__widget[type="password"]:not(:placeholder-shown) {
        font-family: "Tahoma", sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
    }


    .input .input__widget[type="color"] {
        width: 100px;
    }


    /* Either "appearance: none; width: 100%;" or "width: auto; to reset the width set above" */
    .input__widget[type="date"],
    .input__widget[type="datetime-local"],
    .input__widget[type="week"],
    .input__widget[type="month"],
    .input__widget[type="time"] {
        width: auto;
    }



.input--classic {
    color-scheme: light;
}
    .input--classic .input__widget {
        height: 64px;
        padding: 20px 21px;
        background-color: #FFFFFF;
        border-radius: 25px;
        color: #000000;
    }

    @media (width < 740px) {
        .input--classic .input__widget {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .input--classic .input__widget:hover {
        box-shadow: 0 0 0 2px var(--classic-hover-and-focus);
    }

    .input--classic .input__widget:focus-visible {
        box-shadow: 0 0 0 3px var(--classic-hover-and-focus);
        transition: none;
    }

    .input--classic .input__widget::placeholder {
        color: var(--classic-placeholder-color);
    }



/* Disabled */
    .input--classic .input__widget:disabled {
        background-color: var(--classic-disabled-background);
        box-shadow: none;
        color: var(--classic-disabled-color);
    }

    .input--classic .input__widget:disabled::placeholder {
        color: var(--classic-disabled-color);
    }


/* Error */
.input--classic.input--error {

}
    .input--classic.input--error .input__widget {
        background-color: #FFDDDD;
        color: var(--error);
        border-color: var(--error);
    }

    .input--classic.input--error .input__widget:hover {
        box-shadow: 0 0 0 2px var(--classic-hover-and-focus);
    }

    .input--classic.input--error .input__widget::placeholder {
        color: var(--error);
    }

/* Textarea */
    .input--classic textarea.input__widget {
        height: auto; /* user rows="" attribute to set a default height */
        resize: vertical;
        min-height: 64px; /* 1 row */
        max-height: 280px; /* 10 rows */
    }


/* Select */
    .input--classic select.input__widget {
        appearance: none;
        padding-right: 62px;
        background-image: url("../vectors/classic-select-chevron.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: right 24px center;
        cursor: pointer;
        transition: background-color var(--transition-hover);
    }

    .input--classic select.input__widget:hover {
        box-shadow: none; /* same as base, not hover input */
        background-color: var(--classic-select-hover);
    }

    /* Select & Disabled */
    .input--classic select.input__widget:disabled {
        background-color: var(--classic-disabled-background);
        cursor: default;
    }

    /* Select & Error */
    .input--classic.input--error select.input__widget {
        background-image: url("../vectors/classic-select-chevron-error.svg");
    }

    .input--classic.input--error select.input__widget:hover {
        box-shadow: none;
        background-color: var(--classic-select-hover);
    }

    .input--classic.input--placeholder-is-chosen {

    }
        .input--classic.input--placeholder-is-chosen select.input__widget {
            color: var(--classic-placeholder-color);
        }

        .input--classic.input--placeholder-is-chosen select.input__widget:disabled {
            color: var(--classic-disabled-color);
        }

        .input--classic.input--placeholder-is-chosen.input--error select.input__widget {
            color: var(--error);
        }
            .input--classic.input--placeholder-is-chosen select.input__widget option {
                color: #000000; /* Browsers on Windows inherit grey color from <select> to <option>`s. Reset it. */
            }


.input--fancy {

}
    .input--fancy .input__widget {
        height: 48px;
        padding: 12px 0;
        background-color: transparent;
        box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / 50%);
        border-radius: 0;
        color: #FFFFFF;
        transition: box-shadow var(--transition-hover);
    }

    .input--fancy .input__widget:hover {
        box-shadow: inset 0 -1px 0 0 var(--fancy-hover);
    }

    .input--fancy .input__widget:focus-visible {
        box-shadow: inset 0 -2px 0 0 #FFFFFF;
    }

    .input--fancy .input__widget::placeholder {
        color: var(--fancy-placeholder-color);
    }


/* Disabled */
    .input--fancy .input__widget:disabled {
        box-shadow: inset 0 -1px 0 0 var(--fancy-disabled-shadow);
        color: var(--fancy-disabled-color);
    }

    .input--fancy .input__widget:disabled::placeholder {
        color: var(--fancy-disabled-color);
    }


/* Error */
.input--fancy.input--error {

}
    .input--fancy.input--error .input__widget {
        color: var(--error);
        box-shadow: inset 0 -1px 0 0 var(--error);
    }

    .input--fancy.input--error .input__widget:hover {
        box-shadow: inset 0 -1px 0 0 var(--fancy-hover);
    }

    .input--fancy.input--error .input__widget::placeholder {
        color: var(--error);
    }

/* Textarea */
    .input--fancy textarea.input__widget {
        height: auto; /* user rows="" attribute to set a default height */
        resize: vertical;
        min-height: 48px; /* 1 row */
        max-height: 264px; /* 10 rows */
    }



/* Select */
    .input--fancy select.input__widget {
        appearance: none;
        padding-right: 32px;
        background-image: url("../vectors/fancy-select-chevron.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: right center;
        cursor: pointer;
    }

    .input--fancy select.input__widget:hover {

    }

    /* Select & Disabled */
    .input--fancy select.input__widget:disabled {
        cursor: default;
        background-image: url("../vectors/fancy-select-chevron-disabled.svg");
    }

    /* Select & Error */
    .input--fancy.input--error select.input__widget {
        background-image: url("../vectors/fancy-select-chevron-error.svg");
    }

    .input--fancy.input--error select.input__widget:hover {
        border-color: var(--error);
    }

    .input--fancy.input--placeholder-is-chosen {

    }
        .input--fancy.input--placeholder-is-chosen select.input__widget {
            color: var(--fancy-placeholder-color);
        }

        .input--fancy.input--placeholder-is-chosen select.input__widget:disabled {
            color: var(--fancy-disabled-color);
        }

        .input--fancy.input--placeholder-is-chosen.input--error select.input__widget {
            color: var(--error);
        }
            .input--fancy.input--placeholder-is-chosen select.input__widget option {
                color: #000000; /* Browsers on Windows inherit grey color from <select> to <option>`s. Reset it. */
            }





/* Error */
.input--error select.input__widget {
    background-image: url("../vectors/dropdown-error.svg");
}

.input--error select.input__widget:hover {
    border-color: var(--error);
}


.input--placeholder-is-chosen {

}
    .input--placeholder-is-chosen select.input__widget {
        color: var(--classic-placeholder-color);
    }

    .input--placeholder-is-chosen.input--classic select.input__widget:disabled {
        color: var(--classic-disabled-color);
    }

    .input--placeholder-is-chosen.input--fancy select.input__widget:disabled {
        color: var(--fancy-disabled-color);
    }

    .input--placeholder-is-chosen.input--error select.input__widget {
        color: var(--error);
    }
        .input--placeholder-is-chosen select.input__widget option {
            color: #000000; /* Browsers on Windows inherit grey color from <select> to <option>`s. Reset it. */
        }


.input--larger {

}


/* Только десктопы (не мобилки, запрос обратный к мобильному (width < 740px) */
@media (740px <= width) {

    /* Запросы по высоте */
    @media (700px <= height) {

        .input--larger .input__widget {
            font-size: 24px;
            line-height: 32px;
            border-radius: 25px;
        }

        .input--larger textarea.input__widget {
            min-height: calc(2 * 20px + 3 * 32px);
        }
    }
}
