.login-handler {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    height: var(--header-height);
    border: none;
    padding: 0 40px;
    background-color: transparent;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: lowercase;
    cursor: pointer;
}
    .login-handler::before {
        content: "";
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
        margin: auto;
        border-radius: 35px;
        transition: background-color var(--transition-hover);
    }

    .login-handler:hover::before {
        background-color: var(--hovering-background-color);
    }

    .login-handler::after {
        content: "";
        display: block;
        width: 38px;
        height: 32px;
        background-image: url("../vectors/login-handler.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

.login-handler:active {
    translate: 0 1px;
}



@media (width < 750px) {

    .login-handler {
        padding-left: 20px;
        padding-right: 20px;
    }
        .login-handler::before {
            display: none;
        }
}
