@media (750px <= width) {

    .profile {
        position: fixed;
        z-index: 750;
        top: 0;
        right: -420px;
        width: 420px;
        height: 100%;
        overflow-y: auto; /* скроллбар */
        opacity: 0; /* прозрачность для анимации */
        visibility: hidden; /* чтобы в профиль нельзя было попасть табами */
        pointer-events: none; /* чтобы во время анимации закрытия сквозь профиль можно было кликать (например в хендлер профиля в шапке повторного резкого открытия) */
        transition: opacity 300ms ease,    /* анимация закрытия */
                    visibility 300ms ease, /* анимация закрытия */
                    right 1000ms ease;     /* анимация закрытия */
    }

    .profile--expanded {
        right: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity 400ms ease,                 /* анимация открытия */
                    visibility 400ms ease,              /* анимация открытия */
                    right 800ms var(--ease-out-quint);  /* анимация открытия */
    }
        .profile__panel {
            min-height: 100%; /* растягиваем фон */
            padding: 114px 60px 60px;
            background-image: url("../images/profile.webp");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
        }

        .profile__close,
        .profile__close.action {
            position: absolute;
            left: 42px;
            top: 20px;
        }
}
