.question {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 8vh;
}

.question--swipe {
    overflow: hidden; /* cut swipe */
}
    .question__head {
        position: relative;
        flex-shrink: 0;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: flex-start;
        gap: 17px;
        padding: 10px 20px 9px;
        border: 1px solid #FFB369;
        border-radius: 13px;
    }
        .question__index {
            font-family: var(--font-game);
            font-size: 18px;
            line-height: 20px;
            color: #FFB369;
        }

        .question__type {
            font-size: 15px;
            line-height: 20px;
            color: #FFFFFF;
        }

        .question__countdown {
            position: absolute;
            left: 100%;
            top: 50%;
            margin-left: 30px;
            translate: 0 -50%;
            display: flex;
            align-items: center;
            gap: 12px;
        }

    .question__body {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }
        .question__left-mask {
            -webkit-mask-image: linear-gradient(to left, transparent 0%, black 10%);
                    mask-image: linear-gradient(to left, transparent 0%, black 10%);
        }
            .question__right-mask {
                -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%);
                        mask-image: linear-gradient(to right, transparent 0%, black 10%);
            }
                .question__swipe {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding-left: calc(50% - 450px);
                    padding-right: calc(50% - 450px);
                    overflow-y: auto;
                    scroll-snap-type: x mandatory;
                }

                .question__swipe--disable-snapping {
                    scroll-snap-type: none;
                }
                    .question__asking {
                        scroll-snap-align: center;
                        position: relative;
                        flex-shrink: 0;
                        width: 900px;
                        min-height: 320px;
                        padding-left: 40px;
                        padding-right: 40px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                        .question__image {
                            vertical-align: top;
                            position: static !important; /* override weird react styles */
                            width: auto !important; /* !important is because of the weird react styles */
                            height: 240px !important; /* !important is because of the weird react styles */
                            margin-bottom: 19px;
                            background-color: rgb(255 255 255 / 20%);
                            border-radius: 25px;
                        }

                        .question__title {
                            margin-top: 7px;
                            margin-bottom: 0;
                            font-weight: 500;
                            font-size: 40px;
                            line-height: 50px;
                            text-align: center;
                        }
                            .question__title p {
                                margin: 0;
                            }

                        .question__image ~ .question__title {
                            font-size: 32px;
                            line-height: 40px;
                        }

        .question__control {
            position: absolute;
            top: 0;
            bottom: 0;
            width: calc(2 * var(--container-padding));
            border: none;
            padding: 0;
            background-color: transparent;
            background-size: 60px;
            background-repeat: no-repeat;
            background-position: center center;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
        }

        .question__control--prev {
            background-image: url("../vectors/chevron-left.svg");
            left: 0;
        }

        .question__control--next {
            background-image: url("../vectors/chevron-right.svg");
            right: 0;
        }

    .question__voting {
        display: flex;
        align-items: center;
        gap: 238px;
        margin-left: -90px;
    }
        .question__voting-heading {
            position: relative;
            width: 334px;
            height: 263px;
            background-image: url("../images/question-voting-letters.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
            .question__voting-heading::after {
                content: "";
                position: absolute;
                left: 298px;
                top: 83px;
                display: block;
                width: 132px;
                height: 180px;
                background-image: url("../images/question-voting-illustration.webp");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }

            @media (1.5dppx <= resolution < 2.5dppx) {
                .question__voting-heading::after {
                    background-image: url("../images/question-voting-illustration@2x.webp");
                }
            }

            @media (2.5dppx <= resolution) {
                .question__voting-heading::after {
                    background-image: url("../images/question-voting-illustration@3x.webp");
                }
            }

        .question__voting-countdown {
            margin-top: -6px;
        }

    .question__answers {
        margin-top: 19px;
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        gap: 40px 60px;
    }
        .question__item {
            position: relative;
            padding-left: 3px; /* чтобы не обрезались тени у инпутов и выбранных .answer */
            padding-right: 3px; /* чтобы не обрезались тени у инпутов и выбранных .answer */
            flex-basis: calc(50% - 30px);
        }
            @keyframes question-rating-left {
                from {
                    opacity: 0;
                    transform: translateX(40px);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            @keyframes question-rating-right {
                from {
                    opacity: 0;
                    transform: translateX(-40px);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .question__rating {
                position: absolute;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                gap: 14px;
                font-weight: 100;
                font-size: 50px;
                line-height: 65px;
                color: #FFFFFF;
            }

            .question__item:nth-child(even) .question__rating {
                left: 100%;
                margin-left: 25px;
                animation: question-rating-right 1000ms var(--ease-out-quint);
            }

            .question__item:nth-child(odd) .question__rating {
                right: 100%;
                margin-right: 25px;
                animation: question-rating-left 1000ms var(--ease-out-quint);
            }
                .question__progress {
                    min-height: 6px;
                    width: 11px;
                    flex-shrink: 0;
                }

                .question__item:nth-child(even) .question__rating .question__progress {
                    background-image: linear-gradient(to right, #45AEFF, #9352FF);
                }

                .question__item:nth-child(odd) .question__rating .question__progress {
                    background-image: linear-gradient(to right, #FFB369, #E238AF);
                }

    .question__submit {
        margin-top: 20px;
        text-align: center;
    }

    .question__next {
        margin-top: 20px;
        text-align: center;
    }


    /* vs icon */
    @keyframes question-vs-slide {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .question__answers--vs-image::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: -20px auto 0;
        display: block;
        width: 240px;
        height: 113px;
        background-image: url("../images/vs.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        animation: question-vs-slide 1000ms var(--ease-out-quint);
    }



    @keyframes question-results-slide {
        from {
            opacity: 0;
            transform: translateX(40px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .question__results {
        position: absolute;
        right: 74px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        width: 275px;
        height: 224px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right, #45AEFF, #9352FF);
        border-radius: 35px;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        color: #FFFFFF;
        animation: question-results-slide 1000ms var(--ease-out-quint);
        zoom: 0.8;
    }

    .question__image ~ .question__results {
        top: 48px;
        bottom: auto;
    }

    .question__results--50-50 {
        padding-top: 144px;
        font-size: 24px;
        line-height: 32px;
    }
        .question__results--50-50::after {
            content: "";
            position: absolute;
            left: auto;
            right: auto;
            bottom: 70px;
            width: 236px;
            height: 195px;
            background-image: url("../images/question-results-50-50.webp");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        @media (1.5dppx <= resolution < 2.5dppx) {
            .question__results--50-50::after {
                background-image: url("../images/question-results-50-50@2x.webp");
            }
        }

        @media (2.5dppx <= resolution) {
            .question__results--50-50::after {
                background-image: url("../images/question-results-50-50@3x.webp");
            }
        }

    .question__results--0-100 {
        padding-top: 144px;
        font-size: 24px;
        line-height: 32px;
    }
        .question__results--0-100::after {
            content: "";
            position: absolute;
            left: auto;
            right: auto;
            bottom: 70px;
            width: 236px;
            height: 172px;
            background-image: url("../images/question-results-0-100.webp");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        @media (1.5dppx <= resolution < 2.5dppx) {
            .question__results--0-100::after {
                background-image: url("../images/question-results-0-100@2x.webp");
            }
        }

        @media (2.5dppx <= resolution) {
            .question__results--0-100::after {
                background-image: url("../images/question-results-0-100@3x.webp");
            }
        }



/* Только десктопы (не мобилки, запрос обратный к мобильному (width < 740px) */
@media (740px <= width) {

    /* Запросы по высоте */
    @media (700px <= height) {

        .question {
            padding-top: 7vh;
            padding-bottom: 10vh;
        }

        .question__head {
            gap: 25px;
            padding: 15px 30px 13px;
            border-radius: 20px;
        }

            .question__index {
                font-size: 24px;
                line-height: 32px;
            }

            .question__type {
                font-size: 22px;
                line-height: 26px;
            }

            .question__countdown {
                gap: 16px;
            }

        .question__body {
            margin-top: 5.5vh;
        }

        .question__image {
            height: 280px !important; /* !important is because of the weird react styles */
            margin-bottom: 27px;
        }

        .question__title,
        .question__image ~ .question__title {
            font-size: 45px;
            line-height: 50px;
        }


        .question__answers {
            margin-top: 26px;
        }

        .question__submit {
            margin-top: 30px;
        }

        .question__next {
            margin-top: 30px;
        }

        .question__results {
            zoom: 0.9;
        }
    }

    /* Запросы по высоте */
    @media (950px <= height) {

        .question {
            padding-top: 9vh;
            padding-bottom: 12vh;
        }
            .question__head {
                gap: 35px;
                padding: 21px 40px 17px;
                border-radius: 25px;
            }
                .question__index {
                    font-size: 36px;
                    line-height: 36px;
                }

                .question__type {
                    font-size: 30px;
                    line-height: 30px;
                }

                .question__countdown {

                }

            .question__body {
                margin-top: 6vh;
            }
                .question__image {
                    height: 320px !important; /* !important is because of the weird react styles */
                    margin-bottom: 38px;
                }

                .question__title,
                .question__image ~ .question__title {
                    font-size: 45px;
                    line-height: 50px;
                }


            .question__answers {
                margin-top: 38px;
            }

            .question__submit {
                margin-top: 43px;
            }

            .question__next {
                margin-top: 43px;
            }

            .question__results {
                zoom: 1;
            }
    }
}


@media (width < 740px) {

    .question {
        padding-top: 2vh;
        padding-bottom: 7.5vh;
    }
        .question__head {
            width: auto;
            margin-left: 0;
            margin-right: 0;
            height: 87px; /* Как и шарик загрузки */
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0;
            padding: 0;
            border: none;
        }

        .question--swipe .question__head {
            padding-left: var(--container-padding);
        }

            .question__index {
                display: block;
                font-size: 22px;
                line-height: 24px;
            }

            .question__type {
                margin-top: 5px;
                display: block;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }

            .question__countdown {
                position: absolute;
                left: auto;
                right: 0;
            }

        .question__body {
            display: flex;
            margin-top: 0;
        }
            .question__swipe {
                padding-left: 10%;
                padding-right: 10%;
            }
                .question__asking {
                    min-height: 0;
                    width: 100%;
                    padding-left: calc(var(--container-padding) / 2);
                    padding-right: calc(var(--container-padding) / 2);
                }
                    .question__image {
                        max-width: 100% !important; /* !important is because of the weird react styles */
                        height: auto !important; /* !important is because of the weird react styles */
                        max-height: 320px;
                        margin-bottom: 24px;
                    }

                    .question__title,
                    .question__image ~ .question__title {
                        font-size: 24px;
                        line-height: 32px;
                    }

            .question__control {
                /*position: absolute;*/
                /*top: 0;*/
                /*bottom: 0;*/
                width: var(--container-padding);
                /*border: none;*/
                /*padding: 0;*/
                /*background-color: transparent;*/
                background-size: 24px 24px;
                /*background-repeat: no-repeat;*/
                /*background-position: center center;*/
                /*text-indent: 200%;*/
                /*white-space: nowrap;*/
                /*overflow: hidden;*/
                /*cursor: pointer;*/
            }

            .question__control--prev {
                /*background-image: url("../vectors/chevron-left.svg");*/
                /*left: 0;*/
            }

            .question__control--next {
                /*background-image: url("../vectors/chevron-right.svg");*/
                /*right: 0;*/
            }

        .question__voting {
            display: flex;
            justify-content: center;
            gap: 70px;
            margin-left: 0;
            width: 100%;
        }
            .question__voting-heading {
                width: 167px;
                height: 132px;
            }

            .question__voting-heading::after {
                left: 149px;
                top: 42px;
                width: 66px;
                height: 90px;
            }

            .question__voting-countdown {

            }

        @media (width < 380px) {
            .question__voting {
                flex-direction: column-reverse;
                gap: 10px;
            }
                .question__voting-heading {
                    align-self: flex-start;
                }

                .question__voting-countdown {

                }
        }

        .question__answers {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            grid-template-columns: 1fr;
            gap: 15px;
        }

        .question__answers--vs-image::before {
            zoom: 0.75;
        }
            .question__item {
                flex-basis: 100%;
                display: flex;
            }
                .question__rating {
                    position: static;
                    font-size: 40px;
                    line-height: 50px;
                    letter-spacing: -2px;
                }

                .question__item:nth-child(even) .question__rating {

                }

                .question__item:nth-child(odd) .question__rating {

                }

                .question__progress {

                }

                .question__item:nth-child(even) .question__rating .question__progress {

                }

                .question__item:nth-child(odd) .question__rating .question__progress {

                }

            @keyframes question-results-slide {
                from {
                    opacity: 0;
                    transform: translateY(-40px);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .question__results {
                right: 0;
                top: auto;
                bottom: 100%;
                margin-bottom: 10px;
                width: 184px;
                height: 150px;
                font-size: 27px;
                line-height: 27px;
            }

            .question__image ~ .question__results {
                top: -75px;
                bottom: auto;
            }

            .question__results--50-50 {
                padding-top: 96px;
                font-size: 16px;
                line-height: 24px;
            }

            .question__results--50-50::after {
                bottom: 47px;
                width: 158px;
                height: 130px;
            }


            .question__results--0-100 {
                padding-top: 96px;
                font-size: 16px;
                line-height: 24px;
            }

            .question__results--0-100::after {
                bottom: 47px;
                width: 158px;
                height: 115px;
            }


        .question__submit {

        }

        .question__next {

        }
}
