.question {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 11vh;
    padding-bottom: 16.5vh;
}
    .question__head {
        position: relative;
        flex-shrink: 0;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: flex-start;
        gap: 35px;
        padding: 21px 40px 17px;
        border: 1px solid #FFB369;
        border-radius: 25px;
    }
        .question__index {
            font-family: var(--font-game);
            font-size: 36px;
            line-height: 36px;
            color: #FFB369;
        }

        .question__type {
            font-size: 30px;
            line-height: 30px;
            color: #FFFFFF;
        }

        .question__countdown {
            position: absolute;
            left: 100%;
            top: 50%;
            margin-left: 30px;
            translate: 0 -50%;
        }

    .question__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6vh;
    }
        .question__asking {
            min-height: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .question__image {
                vertical-align: top;
                width: auto;
                height: 320px;
                margin-bottom: 38px;
                background-color: rgb(255 255 255 / 20%);
                border-radius: 25px;
            }

            .question__title {
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 500;
                font-size: 45px;
                line-height: 65px;
                text-align: center;
            }

    .question__answers {
        margin-top: 38px;
        width: 100%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        gap: 40px 60px;
    }
        .question__item {
            flex-basis: calc(50% - 60px);
        }

    .question__submit {
        margin-top: 43px;
        text-align: center;
    }


@media (width < 740px) {

    .question {
        /*flex-grow: 1;*/
        /*display: flex;*/
        /*flex-direction: column;*/
        padding-top: 5vh;
        padding-bottom: 7.5vh;
    }
        .question__head {
            /*flex-shrink: 0;*/
            width: auto;
            margin-left: 0;
            margin-right: 0;
            height: 87px; /* Как и шарик загрузки */
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0;
            padding: 0;
            border: none;
            /*border-radius: 25px;*/

        }
            .question__index {
                display: block;
                /*font-family: var(--font-game);*/
                font-size: 22px;
                line-height: 24px;
                /*color: #FFB369;*/
            }

            .question__type {
                margin-top: 5px;
                display: block;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /*color: #FFFFFF;*/
            }

            .question__countdown {
                position: absolute;
                left: auto;
                right: 0;
                /*top: 50%;*/
                /*margin-left: 30px;*/
                /*translate: 0 -50%;*/
            }

        .question__body {
            /*flex-grow: 1;*/
            display: flex;
            /*flex-direction: column;*/
            /*justify-content: center;*/
            /*align-items: center;*/
            /*margin-top: 6vh;*/
        }
            .question__asking {
                min-height: 0;
                /*display: flex;*/
                /*flex-direction: column;*/
                /*align-items: center;*/
                /*justify-content: center;*/
            }
                .question__image {
                    /*vertical-align: top;*/
                    width: 100%;
                    height: auto;
                    margin-bottom: 24px;
                    /*background-color: rgb(255 255 255 / 20%);*/
                    /*border-radius: 25px;*/
                }

                .question__title {
                    /*margin-top: 0;*/
                    /*margin-bottom: 0;*/
                    /*font-weight: 500;*/
                    font-size: 22px;
                    line-height: 30px;
                    /*text-align: center;*/
                }

        .question__answers {
            margin-top: 24px;
            /*width: 100%;*/
            /*max-width: 900px;*/
            /*margin-left: auto;*/
            /*margin-right: auto;*/
            /*display: grid;*/
            grid-template-columns: 1fr;
            gap: 15px;
        }
            .question__item {
                flex-basis: 100%;
            }

        .question__submit {

        }
}
