:root {
    --font: "Roboto", sans-serif;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 0.1s ease;
    --transition-show: 0.6s var(--ease-out-quint);
    --background-color: #071535;
    /*--input-border: #B3B3B3;*/
    /*--input-border-hover-and-focus: #7E7E7E;*/
    /*--placeholder-color: #999999;*/
    /*--disabled-background: #F6F6F6;*/
    /*--disabled-color: #999999;*/
    /*--error: #FF0033;*/
}

@media (width < 750px) {
    :root {
        --container-padding: 40px;
    }
}

@media (340px <= width < 400px) {
    :root {
        --container-padding: 30px;
    }
}

@media (width < 340px) {
    :root {
        --container-padding: 20px;
    }
}
