.schedule {
    padding: 54px 66px 37px;
}
    .schedule__heading {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
        .schedule__heading::after {
            content: "";
            position: absolute;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

.schedule--classics {

}
    .schedule--classics .schedule__heading {
        width: 188px;
        height: 95px;
        background-image: url("../images/classics-heading-letters.svg");
    }

    .schedule--classics .schedule__heading::after {
        left: 171px;
        top: 21px;
        width: 84px;
        height: 79px;
        background-image: url("../images/classics-heading-illustration.webp");
    }

    @media (1.5dppx <= resolution < 2.5dppx) {
        .schedule--classics .schedule__heading::after {
            background-image: url("../images/classics-heading-illustration@2x.webp");
        }
    }

    @media (2.5dppx <= resolution) {
        .schedule--classics .schedule__heading::after {
            background-image: url("../images/classics-heading-illustration@3x.webp");
        }
    }


    .schedule__list {
        margin-top: 30px;
    }
        .schedule__item {
            position: relative;
            padding-right: 71px;
        }
            .schedule__game {
                padding-top: 10px;
                padding-bottom: 8px;
                border-bottom: 1px solid rgb(255 255 255 / 25%);
            }
                .schedule__date {
                    display: block;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 24px;
                }

                .schedule__participants {
                    margin-top: 8px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    color: #FFB369;
                }

            .schedule__price {
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -14px;
                min-width: 65px;
                padding-top: 5px;
                padding-bottom: 5px;
                background-color: #FFB369;
                border-radius: 14px;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #FFFFFF;
                text-align: center;
            }


@media (width < 740px) {

    .schedule {
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
    }
        .schedule__heading {

        }
            .schedule__heading::after {

            }

    .schedule--classics {

    }
        .schedule--classics .schedule__heading {

        }

        .schedule--classics .schedule__heading::after {

        }

        .schedule__list {

        }
            .schedule__item {

            }
                .schedule__date {

                }

                .schedule__participants {

                }
}
