.start {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100%;
    /*padding-top: 50px;*/
    /*padding-bottom: 200px;*/
}
    .start__center {
        margin-top: auto;
        margin-bottom: auto;
    }
        .start__branding {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }

        .start__heading {
            margin: 16px auto 0;
            width: 300px;
            height: 62px;
            background-image: url("../images/start-heading.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .start__primary-menu {
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            width: 270px;
            gap: 21px;
        }

    .start__alternate-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 66px;
        padding-bottom: 66px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
