.trophy {
    flex-grow: 1;
    position: relative;
    padding: 10px 40px 30px;
    background-color: rgb(8 21 53 / 30%);
    border-radius: 25px;
    text-align: center;
}
    .trophy__illustration {
        width: 280px;
        margin-left: -40px; /* немного неумечаемся в контейнер на телефонах в 320px */
        margin-right: -40px; /* немного неумечаемся в контейнер на телефонах в 320px */
        filter: saturate(0);
    }

    .trophy__value {
        margin: -75px auto 37px;
        width: fit-content;
        padding: 12px 30px;
        background-color: #FFB369;
        min-width: 232px;
        font-weight: bold;
        font-size: 33px;
        line-height: 24px;
        color: #FFFFFF;
        rotate: -3deg;
    }

    .trophy__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }

    .trophy__description {
        margin-top: 14px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    .trophy__date {
        margin-top: 28px;
        font-size: 12px;
        line-height: 18px;
        color: rgb(255 255 255 / 50%);
        text-align: center;
    }



.trophy--earned {
    background-color: transparent;
    background-image: linear-gradient(#00FFFF, #B32DFF);
    color-scheme: light;
}
    .trophy--earned .trophy__illustration {
        filter: none;
    }
