.type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
    .type__inner {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 117px;
    }
        .type__preview {
            position: relative;
            width: 370px;
        }
            .type__heading {
                flex-shrink: 0;
                margin-top: 0;
                margin-bottom: 0;
                position: relative;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .type__heading--text {
                width: 370px;
                height: 356px;
                background-image: url("../images/type-heading-text-letters.svg");
            }

            .type__heading--image {
                width: 340px;
                height: 356px;
                background-image: url("../images/type-heading-image-letters.svg");
            }

            .type__heading--faded {
                opacity: 30%;
            }

                .type__heading::after {
                    content: "";
                    position: absolute;
                    display: block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }


                /* text */

                .type__heading--text::after {
                    left: 263px;
                    top: 49px;
                    width: 107px;
                    height: 152px;
                    background-image: url("../images/type-heading-text-illustration.webp");
                }

                @media (1.5dppx <= resolution < 2.5dppx ) {
                    .type__heading--text::after {
                        background-image: url("../images/type-heading-text-illustration@2x.webp");
                    }
                }

                @media (2.5dppx <= resolution) {
                    .type__heading--text::after {
                        background-image: url("../images/type-heading-text-illustration@3x.webp");
                    }
                }



                /* image */

                .type__heading--image::after {
                    left: 57px;
                    top: 44px;
                    width: 110px;
                    height: 66px;
                    background-image: url("../images/type-heading-image-illustration.webp");
                }

                @media (1.5dppx <= resolution < 2.5dppx ) {
                    .type__heading--image::after {
                        background-image: url("../images/type-heading-image-illustration@2x.webp");
                    }
                }

                @media (2.5dppx <= resolution) {
                    .type__heading--image::after {
                        background-image: url("../images/type-heading-image-illustration@3x.webp");
                    }
                }

            .type__countdown {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        .type__content {
            width: 360px;
            margin-top: 1px;
        }
            .type__round {
                width: fit-content;
                padding: 21px 40px 17px;
                border: 1px solid currentColor;
                border-radius: 25px;
                font-family: var(--font-game);
                font-size: 36px;
                line-height: 36px;
                color: #FFB369;
            }

            .type__hint {
                margin-top: 32px;
                max-width: 350px;
                font-size: 24px;
                line-height: 36px;
            }

            .type__next {
                margin-top: 36px;
            }

            .type__teams {
                margin-top: 53px;
                margin-left: 40px;
            }
                .type__item {
                    margin-top: 10px;
                    font-size: 20px;
                    line-height: 28px;
                }

                .type__item:first-child {
                    margin-top: 0;
                }



@media (width < 740px) {

    .type {
        /*display: block;*/
        /*flex-direction: column;*/
        /*justify-content: center;*/
        /*min-height: 100%;*/
        /*padding-top: 80px;*/
        /*padding-bottom: 80px;*/
    }
        .type__inner {
            display: block;
            /*align-items: flex-start;*/
            /*justify-content: center;*/
            /*gap: 117px;*/
        }
            .type__preview {
                margin-left: auto;
                margin-right: auto;
                width: auto;
            }
                .type__heading {
                    /*flex-shrink: 0;*/
                    /*margin-top: 0;*/
                    /*margin-bottom: 0;*/
                    /*position: relative;*/
                    margin-left: auto;
                    margin-right: auto;
                    /*background-size: contain;*/
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                }

                .type__heading--text {
                    width: 261px;
                    height: 251px;
                    /*background-image: url("../images/type-heading-text-letters.svg");*/
                }

                .type__heading--image {
                    width: 240px;
                    height: 251px;
                    /*background-image: url("../images/type-heading-text-letters.svg");*/
                }
                    .type__heading::after {
                        /*content: "";*/
                        /*position: absolute;*/
                        /*display: block;*/
                        /*background-size: contain;*/
                        /*background-repeat: no-repeat;*/
                        /*background-position: center center;*/
                    }

                    .type__heading--text::after {
                        left: 184px;
                        top: 35px;
                        width: 76px;
                        height: 108px;
                    }

                    .type__heading--image::after {
                        left: 41px;
                        top: 31px;
                        width: 78px;
                        height: 47px;
                    }

            .type__content {
                margin-top: 27px;
                width: auto;
                /*margin-top: 1px;*/
            }
                .type__round {
                    /*width: fit-content;*/
                    margin-left: auto;
                    margin-right: auto;
                    padding: 10px 22px 8px;
                    /*border: 1px solid currentColor;*/
                    /*border-radius: 25px;*/
                    /*font-family: var(--font-game);*/
                    font-size: 18px;
                    line-height: 24px;
                    /*color: #FFB369;*/
                }

                .type__hint {
                    margin-top: 19px;
                    max-width: none;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                }

                .type__next {
                    /*margin-top: 36px;*/
                    text-align: center;
                }

                .type__teams {
                    margin-top: 40px;
                    margin-left: 0;
                }
                    .type__item {
                        margin-top: 8px;
                        text-align: center;
                        font-size: 16px;
                        line-height: 24px;
                    }
}
