.user {

}
    .user__head {
        display: flex;
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 60px;
    }
        .user__summary {

        }
            .user__heading {
                margin-top: 0;
                margin-bottom: 0;
                width: 194px;
                height: 96px;
                background-image: url("../images/user-heading-letters.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .user__email {
                margin-top: 10px;
                margin-left: 2px;
                font-size: 12px;
                line-height: 18px;
            }

        .user__preview {
            margin-top: 21px;
            flex-basis: 75px;
            flex-shrink: 0;
        }
            .user__photo {

            }

            .user__edit-photo {

            }

    .user__body {
        margin-top: 30px;
    }
        .user__name {
            margin-bottom: 4px;
            padding-left: 60px;
            padding-right: 60px;
            display: flex;
            align-items: baseline;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
        }
            .user__edit-name {
                margin-left: 7px;
            }

        .user__list {

        }
            .user__link {
                position: relative;
                display: flex;
                margin-top: -1px;
                padding: 8px 60px;
                font-size: 16px;
                line-height: 24px;
                text-decoration: none;
                color: inherit;
                transition: background-color 50ms ease;
            }
                .user__link::before {
                    content: "";
                    position: absolute;
                    left: 60px;
                    right: 60px;
                    top: 0;
                    height: 1px;
                    background-color: rgb(255 255 255 / 20%);
                    transition: background-color 50ms ease;
                }

            .user__link:hover {
                background-color: var(--white-hover);
            }
                .user__link:hover::before {
                    background-color: transparent;
                }

                .user__link:hover + .user__link::before {
                    background-color: transparent;
                }


            /*.user__link:first-child {*/
            /*    border-top: 1px solid rgb(255 255 255 / 50%);*/
            /*}*/

            /*.user__link:last-child {*/
            /*    border-bottom: 1px solid rgb(255 255 255 / 50%);*/
            /*}*/
                .user__balance {
                    padding: 4px 50px 4px 20px;
                    margin: -4px 0 -4px auto;
                    background-image: url("../vectors/user-balance.svg");
                    background-size: 32px 32px;
                    background-repeat: no-repeat;
                    background-position: right center;
                    font-weight: bold;
                    color: #FFB369;
                }

    .user__footer {
        margin-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .user__create-game {
            display: none;
        }

        .user__logout {
            display: block;
            padding-top: 6px;
            padding-bottom: 6px;
            width: fit-content;
            font-size: 12px;
            line-height: 18px;
            color: inherit;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 2px;
            text-transform: lowercase;
            transition: text-decoration-color var(--transition-hover);
        }

        .user__logout:hover {
            text-decoration-color: transparent;
        }


/* Медиа-запросы ниже нужны для того, чтобы умещаться в один экран по высоте, без скроллбара */

@media (630px <= height < 660px) { /* Здесь высота, а не ширина */

    .user {

    }
        .user__body {
            margin-top: 48px;
        }

        .user__link {

        }

        .user__footer {

        }
}

@media (660px <= height < 720px) { /* Здесь высота, а не ширина */

    .user {

    }
        .user__body {
            margin-top: 56px;
        }

        .user__link {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .user__footer {

        }
}


@media (720px <= height < 820px) { /* Здесь высота, а не ширина */

    .user {
        padding-top: 12px;
        padding-bottom: 12px;
    }
        .user__body {
            margin-top: 60px;
        }

        .user__link {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .user__footer {

        }
}



@media (820px <= height) { /* Здесь высота, а не ширина */

    .user {
        padding-top: 24px;
        padding-bottom: 24px;
    }
        .user__body {
            margin-top: 87px;
        }

        .user__link {
            padding-top: 12px;
            padding-bottom: 12px;
        }
}

