.user {

}
    .user__head {
        display: flex;
        justify-content: space-between;
    }
        .user__summary {

        }
            .user__heading {
                margin-top: 0;
                margin-bottom: 0;
                width: 194px;
                height: 96px;
                background-image: url("../images/heading-user.webp");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }

            @media (1.5dppx <= resolution < 2.5dppx ) {
                .user__heading {
                    background-image: url("../images/heading-user@2x.webp");
                }
            }

            @media (2.5dppx <= resolution) {
                .user__heading {
                    background-image: url("../images/heading-user@3x.webp");
                }
            }

            .user__email {
                margin-top: 10px;
                margin-left: 2px;
                font-size: 12px;
                line-height: 18px;
            }

        .user__preview {
            margin-top: 21px;
            flex-basis: 75px;
            flex-shrink: 0;
        }
            .user__photo {

            }

            .user__edit-photo {

            }

    .user__body {
        margin-top: 80px;
    }
        .user__name {
            display: flex;
            align-items: baseline;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
        }
            .user__edit-name {
                margin-left: 7px;
            }

        .user__list {
            margin-left: -10px;
            margin-right: -10px;
        }
            .user__item {
                position: relative;
                display: block;
                padding: 12px 10px;
                margin-top: -1px;
                text-decoration: none;
                border-radius: 6px;
            }
                .user__item::before,
                .user__item::after {
                    content: "";
                    position: absolute;
                    left: 10px;
                    right: 10px;
                    display: block;
                    height: 1px;
                    background-color: rgb(255 255 255 / 25%);
                }

                .user__item::before {
                    top: 0;
                }

                .user__item::after {
                    bottom: 0;
                }

                .user__item:first-child::before {
                    background-color: rgb(255 255 255 / 50%);
                }

                .user__item:last-child::after {
                    background-color: rgb(255 255 255 / 50%);
                }

                .user__item:hover {
                    background-color: var(--hovering-background-color);
                }
