.window {
    position: relative;
    width: 426px;
    min-height: 580px; /* Все модалки по размеру более-менее одинаковые */
    display: flex; /* В комбинации с min-height нужно дать потомкам возможность заполнять всю высоту */
    flex-direction: column;
    background-color: #1B2587;
    background-image: url("../images/window.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 25px;
}
    .window__close {
        position: absolute;
        right: 2px;
        top: 2px;
    }
        .window__close.action {
            position: absolute;
        }


@media (width < 750px) {
    .window {

    }
        .window__close {

        }
}



@media (width < 475px) {
    .window {
        width: 100%;
        padding-left: var(--container-padding); /* На этом разрешении заканчивается max-width модакли и она начинает прилипать к краям экрана. И можно уменьшать паддинг */
        padding-right: var(--container-padding);
    }
}
