<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Game">
    <head>
        <meta charset="utf-8">
        <title>Трофеи</title>
        <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem eaque numquam quaerat quos sint tempore temporibus ullam veniam vero.">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="https://smehogram.ru">
        <meta itemprop="image" content="https://smehogram.ru/favicon/social-media-image-1200x675.jpg">
        <meta itemprop="name" content="smehogram">
        <meta itemprop="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem eaque numquam quaerat quos sint tempore temporibus ullam veniam vero.">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="[%og-type%]">
        <meta property="og:url" content="https://smehogram.ru">
        <meta property="og:image" content="https://smehogram.ru/favicon/social-media-image-1200x675.jpg">
        <meta property="og:title" content="smehogram">
        <meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem eaque numquam quaerat quos sint tempore temporibus ullam veniam vero.">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="https://smehogram.ru">
        <meta name="twitter:image" content="https://smehogram.ru/favicon/social-media-image-1200x675.jpg">
        <meta name="twitter:title" content="smehogram">
        <meta name="twitter:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem eaque numquam quaerat quos sint tempore temporibus ullam veniam vero.">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div class="container">

            <div class="achievements">
                <h1 class="achievements__heading">
                    Трофеи
                </h1>
                <div class="achievements__list">
                    <a class="achievements__item achievements__item--achieved mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-a@2x.webp 2x"
                             src="../temp/trophy-a.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Первая игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-b@2x.webp 2x"
                             src="../temp/trophy-b.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Вторая игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-c@2x.webp 2x"
                             src="../temp/trophy-c.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Третья игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-a@2x.webp 2x"
                             src="../temp/trophy-a.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Первая игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-b@2x.webp 2x"
                             src="../temp/trophy-b.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Вторая игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-c@2x.webp 2x"
                             src="../temp/trophy-c.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Третья игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-a@2x.webp 2x"
                             src="../temp/trophy-a.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Первая игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-b@2x.webp 2x"
                             src="../temp/trophy-b.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Вторая игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-c@2x.webp 2x"
                             src="../temp/trophy-c.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Третья игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-a@2x.webp 2x"
                             src="../temp/trophy-a.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Первая игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-b@2x.webp 2x"
                             src="../temp/trophy-b.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Вторая игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-c@2x.webp 2x"
                             src="../temp/trophy-c.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Третья игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-a@2x.webp 2x"
                             src="../temp/trophy-a.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Первая игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-b@2x.webp 2x"
                             src="../temp/trophy-b.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Вторая игра»"
                        >
                    </a>
                    <a class="achievements__item mfp-handler" href="#achievement">
                        <img class="achievements__image"
                             srcset="../temp/trophy-c@2x.webp 2x"
                             src="../temp/trophy-c.webp"
                             width="92"
                             height="92"
                             alt="Трофей «Третья игра»"
                        >
                    </a>
                </div>
            </div>


        </div>




        <!-- .mfp -->
        <div class="window mfp-hide" id="achievement">
            <button class="window__close mfp-close" type="button">
                Close
            </button>
            <div class="login">
                <h2 class="login__heading">
                    Magnific Popup!
                </h2>
                <div class="login__body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur debitis eligendi fugiat provident sed, velit! At debitis dolore fuga ipsum laudantium nemo reiciendis temporibus voluptates? Ab, accusantium aspernatur cumque dicta ducimus eaque eius eos eum in maxime nihil nulla numquam velit. Accusamus, aliquid atque beatae culpa cupiditate fugiat iure iusto non odit pariatur quae saepe ullam voluptatibus.
                </div>
            </div>
        </div>


        <script src="../vendors/jquery/jquery-3.7.0.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>

    </body>
</html>
