<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Game">
    <head>
        <meta charset="utf-8">
        <title>Бан</title>
        <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem eaque numquam quaerat quos sint tempore temporibus ullam veniam vero.">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="https://shchukin.website">
        <meta itemprop="image" content="https://shchukin.website/favicon/social-media-image-1200x675.jpg">
        <meta itemprop="name" content="smehogram">
        <meta itemprop="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem eaque numquam quaerat quos sint tempore temporibus ullam veniam vero.">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="[%og-type%]">
        <meta property="og:url" content="https://shchukin.website">
        <meta property="og:image" content="https://shchukin.website/favicon/social-media-image-1200x675.jpg">
        <meta property="og:title" content="smehogram">
        <meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem eaque numquam quaerat quos sint tempore temporibus ullam veniam vero.">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="https://shchukin.website">
        <meta name="twitter:image" content="https://shchukin.website/favicon/social-media-image-1200x675.jpg">
        <meta name="twitter:title" content="smehogram">
        <meta name="twitter:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem eaque numquam quaerat quos sint tempore temporibus ullam veniam vero.">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#071535">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div id="root" style="height: 100%;">

            <header class="header">
                <div class="header__panel">
                    <div class="header__burger">
                        <button class="action action--menu" type="button">
                            <span class="visuallyhidden">Меню</span>
                        </button>
                    </div>
                    <div class="header__branding">
                        <a class="logo" href="../index.html">
                            <span class="visuallyhidden">Smehogram</span>
                        </a>
                    </div>
                    <div class="header__profile">
                        <button class="action action--profile" type="button">
                            <span class="visuallyhidden">Профиль</span>
                        </button>
                    </div>
                </div>
            </header>

            <div class="page container">
                <div class="ban">
                    <div class="ban__heading">
                        <span class="visuallyhidden">Бан</span>
                    </div>
                    <div class="ban__sub-heading">
                        Тебя забанили!
                    </div>
                    <div class="ban__description">
                        Прости, нам нужно расстаться! Причина не в тебе, просто нужно побыть одной
                    </div>
                </div>
            </div>

            <div class="menu">
                <div class="menu__panel">
                    <button class="menu__close action action--close-menu">
                        <span class="visuallyhidden">Закрыть</span>
                    </button>
                    <section class="nav">
                        <h2 class="nav__heading">
                            <span class="visuallyhidden">Меню</span>
                        </h2>
                        <div class="nav__list">
                            <a class="nav__link" href="#">О смехограм</a>
                            <a class="nav__link" href="#">Зачем регистрироваться?</a>
                            <a class="nav__link" href="#">Трофеи и награды</a>
                            <a class="nav__link" href="#">Видео инструкции</a>
                            <a class="nav__link" href="#">Ответы на вопросы</a>
                            <a class="nav__link" href="#">Реквизиты</a>
                            <a class="nav__link" href="#">Пользовательское соглашение</a>
                        </div>
                    </section>
                </div>
            </div>
            <div class="profile">
                <div class="profile__panel">
                    <button class="profile__close action action--close-profile">
                        <span class="visuallyhidden">Закрыть</span>
                    </button>
                    <section class="user container container--unlimited">
                        <div class="user__head">
                            <div class="user__summary">
                                <h2 class="user__heading">
                                    <span class="visuallyhidden">Профиль</span>
                                </h2>
                                <div class="user__email">
                                    <a class="link link--fake">Anton100ton@mail.ru</a>
                                </div>
                            </div>
                            <div class="user__preview">
                                <div class="user__photo">
                                    <a class="avatar" href="#">
                                        <img class="avatar__image"
                                             srcset="../temp/photo-a-75x75@2x.jpg 2x, ../temp/photo-a-75x75@3x.jpg 3x"
                                             src="../temp/photo-a-75x75.jpg"
                                             width="75"
                                             height="75"
                                             alt=""
                                        >
                                    </a>
                                    <!-- или:
                                    <a class="avatar" href="#">
                                        <img class="avatar__image"
                                             src="../content/dummy.svg"
                                             width="75"
                                             height="75"
                                             alt=""
                                        >
                                    </a>
                                    -->
                                </div>
                                <button class="user__edit-photo edit" type="button">
                                    изменить
                                </button>
                            </div>
                        </div>
                        <div class="user__body">
                            <b class="user__name">
                                Антошик
                                <button class="user__edit-name edit" type="button">
                                    изменить
                                </button>
                            </b>
                            <div class="user__list">
                                <a class="user__link" href="#">
                                    Баланс
                                    <span class="user__balance">
                                        100500уе
                                    </span>
                                </a>
                                <a class="user__link" href="#">
                                    Мои игры
                                </a>
                                <a class="user__link" href="achievements.html">
                                    Мои трофеи
                                </a>
                                <a class="user__link" href="#">
                                    Мой рейтинг
                                </a>
                                <a class="user__link" href="#">
                                    Мои команды
                                </a>
                            </div>
                        </div>
                        <div class="user__footer">
                            <a class="user__create-game button button--secondary button--smaller" href="#">
                                Создать игру
                            </a>
                            <a class="user__logout" href="#">
                                Выйти
                            </a>
                        </div>
                    </section>
                </div>
            </div>

        </div>


        <script src="../vendors/jquery/jquery-3.7.0.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_achievements.js"></script>
        <script src="../scripts/_profile.js"></script>
        <script src="../scripts/_menu.js"></script>
        <script src="../scripts/_popup.js"></script>

    </body>
</html>
